<section class="auth h-100 w-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-6">
                <section class="main-auth py-5 h-100">
                    <router-outlet></router-outlet>
                </section>              
            </div>
            <div class="col-md-6 h-100 p-0 d-none d-md-block">
                <div class="position-relative h-100 ">
                    <img src="assets/images/authImage.png" class="img-fluid h-100 w-100" alt="auth image">
                    <div class="layer position-absolute top-0 start-0 w-100 h-100" style="z-index: 11;"></div>
                    <h1 class="position-absolute top-50 start-50 text-white translate-middle-x translate-middle-y" style="z-index: 12; text-align: end;">
                        <span>دليــــل</span>
                        <br>
                        <span>الســوق</span>
                        <br>
                        <span>. ـــــــــــ</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
    
</section>
