<div class="container h-100">
    <div class="row h-100">
        <div class="col-12">
            <div class="icons d-flex justify-content-between px-2">
                <a [routerLink]="'/'">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a [routerLink]="'/pages/auth/main'">
                    <i *ngIf="common.lang_code == 'ar'" class="fa-solid fa-arrow-left"></i>
                    <i *ngIf="common.lang_code == 'en'" class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-12">               
            <form [formGroup]="verifyForm" (ngSubmit)="verify(verifyForm)">
                <div class="d-flex justify-content-start align-items-start flex-column gap-3 verify">
                    <h1>{{'Email Verification' | translate}} , </h1>
                    <h3>{{'Enter the code sent to' | translate}} {{userEmail}}</h3>
                    <p-inputOtp [mask]="true" [length]="6" (input)="autoRedirectToVerifyCode(verifyForm)" formControlName="code"></p-inputOtp>
                    <span class="text-danger" *ngIf="wrongCode">{{'please fill up all the cells properly' |translate}}</span>
                    <button class="btn bg-main text-white w-100 next-btn">{{'Send' | translate}}</button>
                </div>
            </form>
            <div class="mt-3 d-flex justify-content-center align-items-center">
                <span>{{"Didn't receive the code" | translate}}</span>
                <button (click)="resend()" class="btn bg-transparent main-color">{{'RESEND' | translate}}</button>
            </div>
        </div>
    </div>
</div>