.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-wrapper {
  margin: 20px 0;
  height: auto;
  .gallery-image {
    max-width: 100%;
    width: auto;
    height: calc(100vh - 200px);
    border-radius: 4px;
  }
}
