<div class="gallery-container">

  <div class="image-wrapper">
    <img [src]="environment.imgUrl + 'gyms/' + images[currentIndex]" alt="Gallery Image" class="gallery-image" onerror="this.src='assets/images/gyms/gym-2.png'" />
  </div>

  <div class="d-flex">
    <button class="nav-button next mx-2" (click)="nextImage()" [disabled]="currentIndex === images.length - 1">
      Next
    </button>
    <button class="nav-button prev mx-2" (click)="prevImage()" [disabled]="currentIndex === 0">
      Previous
    </button>
  </div>
</div>
