<div class="topPageSpace"></div>

<app-breadcrumb [links]="BreadcrumbLinks" currentTitle="LoginPage.login"></app-breadcrumb>

<section class="login position-relative py-5 overflow-hidden">
  <div class="container position-relative mx-auto">
    <div class="row align-items-center">
      <div class="col-12 col-md-10 col-lg-6 m-auto">
        <div class="login_form bg-white rounded text-center">
          <form [formGroup]="loginForm" (ngSubmit)="SubmitLogin()">
            <h3 class="fw-bold mb-5">{{'LoginPage.loginMsg'|translate}}</h3>
            <input class="form-control mb-3 rounded" type="email" formControlName="email" [placeholder]="'LoginPage.Email'|translate">
            <span class="text-start errorMsg" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              {{'LoginPage.ValidationMessageEmail'|translate}}
            </span>
            <input class="form-control mb-3 rounded" type="password" formControlName="password" [placeholder]="'LoginPage.password'|translate">
            <span class="text-start errorMsg" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              {{'LoginPage.PasswordMinLength'|translate}}
            </span>
            <div class="mt-2 mb-4 text-end"><a class="text-decoration-none text-muted" [routerLink]="['/forget-password']" routerLinkActive="router-link-active" >{{'LoginPage.Forgotten your password' | translate}}</a></div>
            <button class="w-100 rounded" type="submit">{{'LoginPage.login'|translate}}</button>
          </form>
          <ngb-alert class="mt-4" type="danger" (closed)="closeAlert()" *ngIf="notValidUser">{{'Sorry , The email or password is not valid' | translate}}</ngb-alert>
          <ngb-alert class="mt-4" type="danger" (closed)="closeAlert()" *ngIf="notValidSocialUser">{{'Sorry , User not found please sign up first' | translate}}</ngb-alert>

          <h3 class="fw-bold text-center my-4">{{'OR' | translate}}</h3>

          <div class="sochial_btns">
            <button class="btn-block mb-3 w-100 facebook rounded" (click)="signinWithSocialApp('facebook')">
              <i class="fa fa-facebook-square"></i> {{'Continue with Facebook' | translate}}
            </button>
            <button class="btn-block mb-3 w-100 google rounded" (click)="signinWithSocialApp('google')">
              <i class="fa fa-google"></i> {{'Continue with Google' | translate}}
            </button>
            <button class="btn-block mb-3 w-100 apple rounded" (click)="signinWithSocialApp('apple')">
              <i class="fa fa-apple"></i> {{'Continue with Apple' | translate}}
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<div class="overlay-background position-fixed" *ngIf="showLoader">
  <div class="loader">
  </div>
</div>