<footer class="position-relative">
    <img src="assets/images/footerBackground.png" alt="footer-background" class="position-absolute  start-0 w-100 h-100 curve-img">
    <div class="container-fluid mt-5 pb-3">
        <div class="row gy-5">
            <div class="col-md-5 offset-md-1">
                <div class="position-relative h-100">
                    <h3 style="font-weight: 900;">
                        <span>دليــــل</span>
                        <br>
                        <span>الســوق</span>
                        <br>
                        <span>. ـــــــــــ</span>
                    </h3>
                    <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-flex  flex-column gap-3">
                    <a href="" class="footer-link">
                        <span>
                            {{'home' |translate}}
                        </span>
                    </a>
                    <a href="" class="footer-link">
                        <span>
                            {{'AboutUS' |translate}}
                        </span>
                    </a>
                    <a href="" class="footer-link">
                        <span>
                            {{'privacy policy' |translate}}
                        </span>
                    </a>
                    <a href="" class="footer-link">
                        <span>
                            {{'privacy policy' |translate}}
                        </span>
                    </a>
                    <a href="" class="footer-link">
                        <span>
                            {{'Contact Us' |translate}}
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 position-relative">
                <div class="d-flex flex-column gap-3 contact-list ">
                    <h4>تواصل معنا</h4>
                    <div>
                        <i class="fa-solid fa-phone-volume"></i>
                        <span>
                            <a [href]="'tel:'+'2010233444455'" class="text-dark">
                                +2010233444455
                            </a>
                        </span>
                    </div>
                    <div>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="#" class="text-dark">
                            {{'Huss@gmail.com'}}
                        </a>
                    </div>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>
                            {{'132 Cairo Street, Cairo 02156 Egypt'}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 position-relative">
                <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center">
                    <a href="" class="mx-3">
                        <img src="assets/images/Google play.png" width="160px" height="50px" alt="google-play-image">
                    </a>
                    <a href="" class="mx-3">
                        <img src="assets/images/App store.png" width="160px" height="50px" alt="google-play-image">
                    </a>
                </div>
            </div>
        </div>
        
        
    </div>
</footer>

<!-- <div class="position-absolute top-0 start-0 end-0" style="height: 20px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#80B127" fill-opacity="1" d="M720,5L720,0L0,0L0,40Z"></path>                
        <path fill="#80B127" fill-opacity="1" d="M720,5L720,0L1440,0L1440,40Z"></path>
    </svg>
</div> -->
