<div class="Inner_panner">
  <div class="hero-section overflow-hidden position-relative z-0 mb-4 mb-lg-0" id="home">
    <div class="hero-background">
      <div class="container">
        <div class="row gy-4 gy-md-8 pt-9 pt-lg-0 mt-5">
          <div class="col-lg-12 text-center">
            <h1 class="fs-2 fs-lg-1 text-white fw-bold mb-2 mb-lg-x1 lh-base mt-5">
              About InvesFit
            </h1>
            <ol class="breadcrumb text-center d-inline-flex text-white mb-3 mb-lg-4 lh-lg">
              <li class="breadcrumb-item text-white"><a>Home</a></li>
              <li class="breadcrumb-item active text-white p-0" aria-current="page">About Us</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="about_sec">
  <div class="container">
    <div class="mb-20 mb-md-32 mb-xl-40">
      <div class="row">
        <div class="col-12">
          <div class="position-relative ps-8 mw-lg">
            <h3 class="fw-bold mb-4">Progress starts with understanding</h3>
            <p class="text-muted fs-5">We take the experience we’ve gained over the last 140+ years to give you the language skills, cultural understanding and confidence to open up a world full of new opportunities and enriching experiences - and help you, your business and the world make the connections that open the world to possibilities.</p>
            <blockquote>We believe in the power of language and cultural understanding to drive human progress.
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-faq></app-faq>


<section class="py-12 py-md-16 py-lg-24">
  <div class="container position-relative">
    <div class="mw-md mw-md-xl mx-auto mw-lg-6xl">
      <div class="mb-20 mb-md-32">
        <div class="row">
          <div class="col-12 col-lg-7">
            <div class="mw-lg py-lg-16">
              <h2 class="font-heading mb-4">
                InvesFit Corporation joins Language Education Holdings

              </h2>
              <p class="fs-5 text-light-dark mb-3">
                InvesFit Corporation, ELS Educational Services and the ILSC Education Group join Language Education Holdings to form one of the largest and most comprehensive language learning and study abroad platforms in the world.
              </p>
              <p class="fs-5 text-light-dark mb-3">
                InvesFit Corporation, ELS Educational Services and the ILSC Education Group join Language Education Holdings to form one of the largest and most comprehensive language learning and study abroad platforms in the world.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-5 mb-12 mb-lg-0">
            <div class="mw-lg-md h-100">
              <img
                class="img-fluid d-block h-100 w-100 rounded-3"
                style="object-fit: cover"
                src="assets/images/bg1.jpg"
                alt=""
              />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
