.facility-data{
    
    ::ng-deep {
        ul {
        padding-left:0;
        }
        .p-inputtext{
            padding: 6px 12px;
        }
        .p-password{
            width: 100%;
        }
        .p-password-input{
            width: 100%;
        }
        ::-webkit-scrollbar {
            width: 5px; 
        }
        
        ::-webkit-scrollbar-track {
            background: #6a6565;
        }
        
        ::-webkit-scrollbar-thumb {
            background: var(--main-color); 
            border-radius: 10px;
        }
        input:hover {
            border-color: var(--main-color); 
        }
        input:focus {
            border-color: var(--main-color); 
            box-shadow: none;
        }
        .p-inputwrapper-focus{
            border-color: var(--main-color);
            box-shadow: none;
        }
        .p-inputwrapper:hover{
            border-color: var(--main-color);
        }
        .rtl{
            eyeslashicon[data-pc-section='hideIcon']{
                left: 0.75rem;
                right: initial;
            }
            eyeicon[data-pc-section='showIcon']{
                left: 0.75rem;
                right: initial;
            }
        }
        .input-rtl{
            text-align: right;
        }
        .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
            font-family: 'themify22' , sans-serif;
            color: rebeccapurple;
        }
    }
    
}
@media screen and (max-width:577) {
    .services{
        service-text{
            font-size: 12px;
        }
    }
}