
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12">
            <div class="icons d-flex justify-content-between px-2">
                <a [routerLink]="'/'">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a [routerLink]="'/pages/auth/login'">
                    <i *ngIf="common.lang_code == 'ar'" class="fa-solid fa-arrow-left"></i>
                    <i *ngIf="common.lang_code == 'en'" class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-12">
            <p-toast></p-toast>               
            <form [formGroup]="ForgetForm" (ngSubmit)="forget(ForgetForm)">
                <div class="d-flex justify-content-start align-items-start flex-column gap-3 forget">
                    <h1>{{'Forget Password' | translate}}</h1>
                    <h3>{{'Enter your email to retrieve your password' | translate}}</h3>
                    <label for="email">{{'email' | translate}}</label>
                    <input type="email"  class="form-control" readonly id="email" placeholder="{{'Enter your email' | translate}}" formControlName="email">
                    <button class="btn bg-main text-white w-100 next-btn">{{'Send' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>