<div class="topPageSpace"></div>

<app-breadcrumb [links]="BreadcrumbLinks" currentTitle="general.Forget Password"></app-breadcrumb>

<section class="login position-relative py-5 overflow-hidden">
  <div class="container position-relative mx-auto">
    <div class="row align-items-center">
      <div class="col-12 col-md-10 col-lg-6 m-auto">
        <div class="login_form bg-white rounded text-center">
          <form [formGroup]="ForgetForm" (ngSubmit)="SubmitForgetPassword()">
            <h3 class="fw-bold mb-5">{{'ForgetPassword.Enter your email address' | translate}}</h3>
            <input class="form-control mb-3 rounded" type="email" formControlName="email" [placeholder]="'LoginPage.Email'|translate">
            <ngb-alert class="mt-4" type="danger" (closed)="closeAlert()" *ngIf="notValidUser">{{'ForgetPassword.Please Enter vaid Email' | translate}}</ngb-alert>
            <button class="w-100 rounded" type="submit">{{'ForgetPassword.Reset Password' | translate}}</button>
          </form>
          <a [routerLink]="['/login']" class="fs-5 mt-4 text-decoration-none d-block c2" > {{'ForgetPassword.RememperPassword?' | translate }} <span class="fw-bolder"> {{'general.LogIn' | translate}} </span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="overlay-background position-fixed" *ngIf="showLoader">
  <div class="loader">
  </div>
</div>
